<!-- app/views/messages/sent.html.erb -->
<h1>Sent Messages</h1>

<% @sent_messages.each do |message| %>
  <p><strong>Title:</strong> <%= message.title %></p>
  <p><strong>Body:</strong> <%= message.body %></p>
  <p><strong>Receiver:</strong> <%= message.receiver.email %></p>
  <%= button_to  'Delete', message_path(message), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <!-- Dodaj inne informacje, które chcesz wyświetlić -->
<% end %>
