<p><strong>From:</strong> <%= @message.sender.email %></p>
<p><strong>To:</strong> <%= @message.receiver.email %></p>
<p><strong>Title:</strong> <%= @message.title %></p>
<p><strong>Body:</strong> <%= @message.body %></p>
